---
layout: default
---

<div class="post title">{{ page.title }}</div>

<div>
    <span>
        {% if page.tags.size > 0 %}
        태그: {{ page.tags | sort | join: ", " }}
        {% endif %}
    </span> •
    작성자: <a href="https://github.com/ac-saro">박용서</a> •
    <span>작성일: {{ page.date | date: "%Y-%m-%d" }}</span> •
    <a href="https://github.com/ac-saro/ac-saro.github.io/edit/publish/{{ page.path }}">편집</a>
</div>

<div class="hr-line">
    {{ content }}
</div>



<!--<div>{{ page.next }}</div>-->
<!--<div>{{ page.previous }}</div>-->

