---
layout: default
---

{{ content }}


<div>
1
    <div>1</div>
<div>{{ page.content }}</div>
    <div>2</div>
<div>{{ page.title }}</div>
    <div>3</div>
<div>{{ page.excerpt }}</div>
4
<div>{{ page.url }}</div>
5
<div>{{ page.date }}</div>
6
<div>{{ page.id }}</div>
7
<div>{{ page.categories }}</div>
8
<div>{{ page.collection }}</div>
9
<div>{{ page.tags }}</div>
10
<div>{{ page.dir }}</div>
11
<div>{{ page.name }}</div>
12
<div>{{ page.path }}</div>
13
<div>{{ page.next }}</div>
14
<div>{{ page.previous }}</div>
15
</div>